# Core functionality - changes here should be rare!
/src/app.py                   @MrBratberg
/src/backend/database.py      @MrBratberg
/src/backend/routers/auth.py  @MrBratberg

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MrBratberg
